.config/nvim/colors/
.config/nvim/dein
.config/nvim/snippets
.config/configstore/
.config/fontforge
.config/nvim/package-lock.json
.config/wireshark/
.config/fish/
.config/htop/
.config/neofetch/
dein1.txt
installer.sh
ttest.cpp
