[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
source /Users/maedar/dotfiles/.config/nvim/Lightline.rc.vim
'''


[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = '''
source /Users/maedar/dotfiles/.config/nvim/NerdTree.rc.vim
'''

#[[plugins]]
#repo = 'cohama/lexima.vim'

[[plugins]]
repo = 'Townk/vim-autoclose'
hook_add = '''
  let g:AutoCloseExpandSpace=0
  "autocmd FileType cpp
  " \ let b:AutoClosePairs = AutoClose#DefaultPairsModified("<>", "")
'''

[[plugins]]
repo = 'tpope/vim-commentary'

[[plugins]]
repo = 'bronson/vim-trailing-whitespace'

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'w0rp/ale'
hook_add = '''
source /Users/maedar/dotfiles/.config/nvim/Ale.rc.vim
'''

[[plugins]]
repo = 'autozimu/LanguageClient-neovim'
rev = 'next'
build = 'bash install.sh'
hook_add = '''
  source /Users/maedar/dotfiles/.config/nvim/LanguageClient-neovim.rc.vim
'''
